/build/.cmake
/build/CMakeFiles
build/CMakeCache.txt
build/cmake_install.cmake
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/compile_commands.json
build/falling_sand_sim.exe
build/falling_sand_sim.pdb
