/build/.cmake
/build/CMakeFiles
build/CMakeCache.txt
build/cmake_install.cmake
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/compile_commands.json
build/falling_sand_sim.exe
build/falling_sand_sim.pdb
build/Debug/falling_sand_sim.exe
build/Debug/falling_sand_sim.pdb
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj
/SFML-3.0.0
/build/falling_sand_sim.dir
build/falling_sand_sim.sln
build/falling_sand_sim.vcxproj
build/Release/falling_sand_sim.exe
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
/build/x64
build/falling_sand_sim.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
